//全域變數
@import "Focus/Mixin";

$MainColor:#009ec3;
$SubColor:#005B7C;
$MainClassColor:#920000;
$ClassColor:#009218;
$SubClassColor:#EA8500;

.mainbg{
background: rgb(0,91,124);
background: -moz-linear-gradient(-45deg, rgba(0,91,124,1) 0%, rgba(0,158,195,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(0,91,124,1) 0%,rgba(0,158,195,1) 100%);
background: linear-gradient(135deg, rgba(0,91,124,1) 0%,rgba(0,158,195,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005b7c', endColorstr='#009ec3',GradientType=1 );
}

body{overflow-y:auto;}

.background{position: fixed;top: 0;left: 0;z-index:1;}

.login{
    position:absolute;left:0;right:0;top:20%;bottom:20%;width:500px;padding:15px;margin:0 auto;z-index:2;
    .login-header{
        background:$SubColor;padding:10px 20px; box-shadow:0 -3px 10px 0 #fff;position:relative; border-top-left-radius:5px; border-top-right-radius:5px;
        .fa{font-size:4rem;color:#fff;position:absolute;top:14%;}
        h1{color:#fff;text-align:center;}
    }
    .login-content{
        background:#fff;
        .form{
            margin-top:0;padding:20px;
            .form-block{
                .form-element{
                    label{color:#000;}
                }
            }
        }
    }
}

table{
    thead{
        tr{
            th{
                &.active{width:16%;}
            }
        }
    }
    tbody{
        tr{
            border-bottom:#ddd solid 1px;
            td{padding:0;font-size:0.8rem;color:#666;}
        }
    }
}

.main{
    font-size:0;width:100%;height:100vh;
}

.menu{
    display:inline-block;width:10%;height:100vh;vertical-align:top;padding:0 0.5%;position:fixed;
    .adminname{
        display:block;text-align:center;padding:10px 0;border-bottom:rgba(255,255,255,0.7) solid 1px;
        .fa{font-size:2rem;color:rgba(255,255,255,0.7);box-shadow:0 0 0 2px rgba(255,255,255,0.7);padding:10px 20px;border-radius:5px;}
        b{display:block;font-size:0.8rem;color:rgba(255,255,255,0.7);margin:10px auto 0;}
    }
    .mainmenu{
        height:100vh;padding:10px 0;
        .mainmenu-block{
            display:block;text-align:center;color:rgba(255,255,255,0.7);
            .mainmenu-link{
                font-size:0.8rem;padding:10px 0;cursor:pointer;position:relative;font-weight:bold;display:block;color:rgba(255,255,255,0.7);font-weight:bold;
                .fa{position:absolute;left:10px;top:11px;}
                &:hover{
                    background:#002124; box-shadow:0 0 5px 0 #333;color:#fff;@include transition-duration(1s);
                    &::after{content:'';position:absolute;left:0;bottom:0;width:100%;height:2px;background:rgba(255,255,255,0.7);}
                }
            }
            &:hover{
                .submenu{display:block;}
            }
            .submenu{
                display:none;
                a{
                    display:block;font-size:0.8rem;padding:10px 0;color:rgba(255,255,255,0.7);background:rgba(255,255,255,0.2);font-weight:bold;position:relative;@include transition-duration(1s);
                    &:hover{
                        background:rgba(0,0,0,0.5);
                        &::after{content:'';position:absolute;top:0;left:0;width:2px;height:100%;background:rgba(255,255,255,0.7);}
                    }
                }
            }
        }
    }
}

.content{
    display:inline-block;width:90%;vertical-align:top;background:#eceff4;margin-left:10%;
}

.header{
    padding:1%;font-size:0;background:#fff;
    .header-title{font-size:1.4rem;color:#333;margin:0;display:inline-block;width:16%;font-weight:bold;vertical-align:middle;}
    .toolbar{
        display:inline-block;font-size:1rem;color:#333;vertical-align:middle;width:70%;margin:0 2%;
        .toolbar-block{
            display:inline-block;vertical-align:middle;font-weight:bold;position:relative;margin-right:10px;
            .fa{font-size:1rem;color:$MainColor;margin-right:5px;display:inline-block;vertical-align:top;}
            span{display:inline-block;vertical-align:middle;}
            samp{display:inline-block;font-size:0.8rem;color:#fff;background:#920000;padding:2px;margin-left:5px;border-radius:5px;}
        }
    }
    .config{
        display:inline-block;font-size:1rem;color:#333;vertical-align:middle;font-weight:bold;width:10%;text-align:center;position:relative;cursor:pointer;
        &:hover .config-block{display:block;}
        .fa{font-size:1rem;color:$MainColor;margin-right:5px;display:inline-block;}
        span{display:inline-block;cursor:pointer;}
        .config-block{
            position:absolute;width:100%;background-color:#fff;top:30px;z-index:1;box-shadow:0 0 5px 0 #999;padding:10px;display:none;
            &::before{
                content:'▲';position:absolute;top:-15px;left:42%;color:#999;
            }
            .config-btn{
                display:block;padding:10px 0;font-size:0.8rem;color:#333;width:100%;background:none;border:none;cursor:pointer;margin:0;
                &:hover{
                    background-color:$MainColor;color:#fff;
                    .fa{color:#fff;}
                }
            }
        }
    }
}

.container{
    padding:1%;min-height:100vh;
    .container-title{
        display:block;font-size:1.6rem;color:#333;font-weight:bold;
        .fa{font-size:1.4rem;color:$MainColor;margin-right:5px;display:inline-block;vertical-align:top;}
    }
}

.overview{
    .overview-block{
        background:#fff;padding:20px;height:222px;border-top:#666 solid 5px;
        .overview-block-title{font-size:1rem;font-weight:bold;color:#666;display:block;}
        &.bt-red{border-top-color:$MainClassColor;}
        &.bt-lightblue{border-top-color:$MainColor;}
        &.bt-green{border-top-color:$ClassColor;}
        &.bt-orange{border-top-color:$SubClassColor;}
        .overview-number{
            text-align:center;color:$MainColor;
            span{display:block;font-size:4rem;font-weight:bold;}
            samp{font-size:1rem;color:$MainColor;display:inline-block;border-top:$MainColor solid 2px;padding-top:10px;}
            &.red{
                color:$MainClassColor;
                samp{color:$MainClassColor;border-top-color:$ClassColor;}
            }
            &.lightblue{
                color:$MainColor;
                samp{color:$MainColor;border-top-color:$MainColor;}
            }
            &.green{
                color:$ClassColor;
                samp{color:$ClassColor;border-top-color:$ClassColor;}
            }
            &.orange{
                color:$SubClassColor;
                samp{color:$SubClassColor;border-top-color:$SubClassColor;}
            }
        }
    }
}

.date{
    font-size:0;
    span{
        display:inline-block;
        &.ymd{font-size:3rem;display:block;font-weight:bold;color:#666;text-align:center;margin-bottom:10px;}
        &.date-time{color:#fff;background:#666;font-size:2rem;width:35%;text-align:center;margin:0 6%;padding:3% 0;border-radius:5px;font-weight:bold;}
        &.date-symbol{color:#666;font-size:1.6rem;width:6%;text-align:center;}
    }
}

.search{
    background:#fff;margin:10px auto;
}

.form{
    margin-top:20px;
    .form-block{
        margin-bottom:10px;
        [class*="grid-"]{padding:0 10px;}
        .form-element{
            text-align:left;
            label{
                font-weight:bold;padding:0;color:#666;
                .necessary{color:$MainClassColor;margin-right:5px;}
            }
            .prompt{color:$MainClassColor;font-size:0.8rem;font-weight:bold;display:inline-block;vertical-align:middle;margin-left:10px;}
            input[type="checkbox"], input[type="radio"]{margin:10px;}
        }
        .form-block-img{
            display:inline-block;position:relative;margin:10px 0;padding:0;
            img{height:100%;width:100%;}
            span{display:block;text-align:center;padding:5px 0;background:rgba(0,0,0,0.7);color:#fff;font-size:0.8rem;position:absolute;bottom:0;left:0;width:100%;cursor:pointer;}
        }
    }
}

.media-upload{
    background-color:#fff;padding:2%;
    .media-upload-block{
        background:#ededed;border:#999 dotted 3px;height:300px;position:relative;text-align:center;
        .media-upload-block-text{
            position:absolute;top:20%;left:0;right:0;font-size:0.8rem;font-weight:bold;
            p{margin:15px auto;color:#333;}
            .media-upload-block-file{
                margin:0 auto;position:relative;background:#999;color:#fff;width:160px;padding:10px;font-size:0.8rem;line-height:1.2rem;border-radius:5px;
                &:hover{background:$Blue;}
                input[type="file"]{position:absolute;height:100%;width:100%;left:0;top:0;opacity:0;}
            }
        }
    }
}

.media{
    background-color:#fff;margin-top:10px;
    .media-block{
        width:100%;height:100%;position:relative;
        &:hover{
            .media-block-detailed{display:block;}
        }
        img{width:100%;}
        .media-block-detailed{
            color:#fff;font-size:0.8rem;height:100%;width:100%;background:rgba(0,0,0,0.5);position:absolute;top:0;left:0;display:none;text-align:center;padding:5%;
            .media-block-delete{background:$MainClassColor;font-size:0.8rem;font-weight:bold;display:inline-block;padding:5px 0;width:60px;text-align:center;cursor:pointer;border-radius:3px;margin-top:20px;}
            .media-block-des{margin-top:10px;margin-bottom:10px;display:block;text-align:left;}
        }
        .media-block-title{font-size:0.8rem;color:rgba(255,255,255,0.8);background:rgba(0,0,0,0.5);position:absolute;bottom:0;left:0;display:block;width:100%;padding:5px;text-align:center;}
    }
}

.basis{
    background-color:#fff;margin-top:10px;padding:10px;
}

.pagetab{
    min-height:700px;
    .pagetab-header{
        font-size:0;border-bottom:$MainColor solid 2px;
        span{
            display:inline-block;font-size:1rem;font-weight:bold;text-align:center;padding:10px 15px;background:#ededed;color:#666;cursor:pointer;margin-left:5px;
            &:nth-child(1){margin-left:0;}
            &:hover{background:#e0e0e0;}
            &.active{background-color:$MainColor;color:#fff;}
        }
    }
    .pagetab-content{
        background-color:#fff;
        .pagetab-block{
            display:none;
            &.active{display:block;}
        }
    }
}

@media only screen and (max-width:966px){
    .search{padding:10px 0;}

    .pagetab{
        .pagetab-header{
            span{margin-left:0;width:25%;}
        }
    }
}